force-app/main/default/flows/cancel_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Custom_UUID_Match</name>
        <label>Custom UUID Match?</label>
        <locationX>596</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>Fallback_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Not Found</defaultConnectorLabel>
        <rules>
            <name>Event_Found_via_Custom_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEvent</targetReference>
            </connector>
            <label>Event Found via Custom Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fallback_UUID_Match</name>
        <label>Fallback UUID Match?</label>
        <locationX>582</locationX>
        <locationY>765</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>Event_Found_via_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEvent</targetReference>
            </connector>
            <label>Event Found via Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invitee_canceled</name>
        <label>Invitee canceled?</label>
        <locationX>164</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitee_canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Lookup</targetReference>
            </connector>
            <label>Invitee canceled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cancel event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cancel event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_Lookup</name>
        <label>Custom Lookup</label>
        <locationX>169</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_UUID_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__InviteeUuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>EventRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fallback_Lookup</name>
        <label>Fallback Lookup</label>
        <locationX>260</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fallback_UUID_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>EventRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEvent</name>
        <label>UpdateEvent</label>
        <locationX>955</locationX>
        <locationY>560</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calendly__IsRescheduled__c</field>
            <value>
                <elementReference>$Record.Calendly__IsRescheduled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <sourceTemplate>Calendly__CancelEventTemplate</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_invitee_canceled</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EventRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
