force-app/main/default/flows/Count_ofTechnical_Support_CasesCustomer_Complaint_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>Filter_for_the_Customer_Complaint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for the Customer_Complaint</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_for_the_Customer_Complaint</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_cases</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_the_Customer_Complaint.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>get_Customer_Complaint_record_Type_id.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_the_number_of_case_records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_for_theTechnicall_Support</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter for theTechnicall_Support</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_filter_for_theTechnicall_Support</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_cases</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_for_theTechnicall_Support.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Technicall_Support_record_type.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>count_the_number_of_cases_Technical</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>null_check_for_the_counts</name>
        <label>null check for the counts</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_tr3ue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_the_number_of_case_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count_the_number_of_cases_Technical</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_related_Account</targetReference>
            </connector>
            <label>is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_account_related_cases</name>
        <label>null check on the account related cases</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_the_Customer_Complaint</targetReference>
            </connector>
            <label>is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_on_the_case_record</name>
        <label>Null check on the case record</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Customer_Complaint_record_Type_id</targetReference>
            </connector>
            <label>is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_record_types</name>
        <label>null check on the record types</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Customer_Complaint_record_Type_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Technicall_Support_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_cases</targetReference>
            </connector>
            <label>is true</label>
        </rules>
    </decisions>
    <description>// Scenario: Update the Case Count on Account Based on Case Record Type.
/* You are working on a Salesforce org where Accounts can have muitiple cases related them. These Cases can be of different types, such as:
Technical Support
Customer Complaint\
Each Of these id defined using record type on the case object your client wants to track the number of cases for each type directly on the Account
record using two custom number fields
Technical Support Cases( Number field on Account)
Customer Complaint Cases( Nubmer field on Account)*/</description>
    <environments>Default</environments>
    <interviewLabel>Count of {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count ofTechnical Support CasesCustomer Complaint Cases(</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_cases</name>
        <label>get all cases</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_the_account_related_cases</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_records.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Customer_Complaint_record_Type_id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Technicall_Support_record_type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case_records</name>
        <label>get Case records</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_on_the_case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caserecordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Customer_Complaint_record_Type_id</name>
        <label>get Customer_Complaint record Type id</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technicall_Support_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Complaint</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Technicall_Support_record_type</name>
        <label>Technicall_Support record type</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_the_record_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technicall_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_related_Account</name>
        <label>update the related Account</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_records.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Complaint_Cases__c</field>
            <value>
                <elementReference>Count_the_number_of_case_records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Support_Cases__c</field>
            <value>
                <elementReference>count_the_number_of_cases_Technical</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Count_the_number_of_case_records</name>
        <label>Count the number of case records</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>filter_for_theTechnicall_Support</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_for_the_Customer_Complaint</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>count_the_number_of_cases_Technical</name>
        <label>count the number of cases Technical</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>null_check_for_the_counts</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>filter_for_theTechnicall_Support</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>caserecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_for_the_Customer_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_for_theTechnicall_Support</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
