force-app/main/default/flows/custom_error_on_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>270</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>numberofcontacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_get_records</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Limit_Reached_on_Account</name>
        <label>Limit Reached on Account</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <customErrorMessages>
            <errorMessage>The Contacts limit have been Reached for the Acccount : {!$Record.Account.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_the_count</name>
        <label>Check for the count</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>gretaer_than_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberofcontacts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Reached_on_Account</targetReference>
            </connector>
            <label>gretaer than 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_for_the_Account</name>
        <label>null check for the Account</label>
        <locationX>545</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Related_Contacts_to_Account</targetReference>
            </connector>
            <label>is Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_get_records</name>
        <label>null check on the get records</label>
        <locationX>336</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Contacts_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Related_Contacts_to_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_get_records</targetReference>
            </connector>
            <label>is Contacts present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>custom error on contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>custom error on contacts</label>
    <loops>
        <name>loop_through_get_records</name>
        <label>loop through get records</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <collectionReference>get_Related_Contacts_to_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_the_count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Related_Contacts_to_Account</name>
        <label>get Related Contacts to Account</label>
        <locationX>336</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_the_get_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null_check_for_the_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>numberofcontacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
