force-app/main/default/flows/Flow_Trigger_62.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assgin_the_accounts</name>
        <label>assgin the accounts</label>
        <locationX>402</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>accountownermangerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_get_accounts.Owner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_get_accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_the_account</name>
        <label>check for the account</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_account_what_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_accounts_to_task</targetReference>
            </connector>
            <label>is account what id</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_the_task_priority</name>
        <label>check for the task priority</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Task_isHigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_rask_owner</targetReference>
            </connector>
            <label>if Task isHigh</label>
        </rules>
        <rules>
            <name>task_is_normal_or_low</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Normal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user_under_the_managers</targetReference>
            </connector>
            <label>task is normal or low</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_accounts</name>
        <label>null check on accounts</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Account_get_accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_accounts_to_task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_get_accounts</targetReference>
            </connector>
            <label>is Account get accounts</label>
        </rules>
    </decisions>
    <description>Write a trigger that fires when a task is created on an account. If the Task priority is high, assign the teask to tht account owner&apos;s manager. If the task priority is low or normal, assign the task to users whose manager is the account owner.</description>
    <environments>Default</environments>
    <interviewLabel>Flow Trigger 62 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Trigger 62</label>
    <loops>
        <name>loop_through_get_accounts</name>
        <label>loop through get accounts</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <collectionReference>get_accounts_to_task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assgin_the_accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_for_the_task_priority</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_accounts_to_task</name>
        <label>get accounts to task</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_under_the_managers</name>
        <label>get user under the managers</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_the_taks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountownermangerid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_rask_owner</name>
        <label>update the rask owner</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>accountownermangerid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_taks</name>
        <label>update the taks</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_user_under_the_managers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_the_account</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountownermangerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
