force-app/main/default/flows/Flow_trigger_54.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_the_contact_id_to_case</name>
        <label>assigne the contact id to case</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_the_get_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_the_get_contacts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>store_only_one_record</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>store only one record</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_the_contacts</collectionReference>
        <connector>
            <targetReference>check_for_the_get_contacts</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_for_the_get_contacts</name>
        <label>check for the get contacts</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_get_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_the_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_the_get_contacts</targetReference>
            </connector>
            <label>is get contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_email</name>
        <label>null check on the email</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_suppliedemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplied_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_the_contacts</targetReference>
            </connector>
            <label>check suppliedemail</label>
        </rules>
    </decisions>
    <description>Wrtie a Flow when a case is created and has an email suppliedemail field check if the same email is present in the email field of any contact. If it is, link that case to the contact else create a new contact and link it ot the case</description>
    <environments>Default</environments>
    <interviewLabel>Flow trigger 54 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow trigger 54</label>
    <loops>
        <name>loop_through_the_get_contacts</name>
        <label>loop through the get contacts</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <collectionReference>get_all_the_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_the_contact_id_to_case</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_the_contacts</name>
        <label>get all the contacts</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>store_only_one_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplied_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null_check_on_the_email</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
