force-app/main/default/flows/Flow_Trigger_59.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Accounts_owner</name>
        <label>Send Email to Accounts owner</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AccountsOwnerEmai</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case Deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendemailtoOwnerbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assgin_cases_to_list</name>
        <label>assgin cases to list</label>
        <locationX>611</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>oldcaselist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>null_check_on_cases_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigne_values_to_task</name>
        <label>assigne values to task</label>
        <locationX>270</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>InstanceTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstanceTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstanceTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstanceTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_accounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstanceTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountsOwnerEmai</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_accounts.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InstanceTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_case_AccountId</name>
        <label>store case AccountId</label>
        <locationX>468</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>accountids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_cases.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_the_account</name>
        <label>check for the account</label>
        <locationX>380</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_accounts</targetReference>
            </connector>
            <label>is Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_AccountId</name>
        <label>is AccountId</label>
        <locationX>858</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_check_AccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assgin_cases_to_list</targetReference>
            </connector>
            <label>null check AccountId</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_cases_list</name>
        <label>null check on cases list</label>
        <locationX>611</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldcaselist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_cases</targetReference>
            </connector>
            <label>is case</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_insertTask_collection</name>
        <label>null check on the insertTask collection</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Task_for_Case_Parent_Account</targetReference>
            </connector>
            <label>is Insert</label>
        </rules>
    </decisions>
    <description>Write a Flow that creates a Task and send an email to the Account&apos;s owner whenever a case is deleted from and account</description>
    <environments>Default</environments>
    <interviewLabel>Flow Trigger 59 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Trigger 59</label>
    <loops>
        <name>loop_through_accounts</name>
        <label>loop through accounts</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <collectionReference>get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_values_to_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_on_the_insertTask_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_cases</name>
        <label>loop through cases</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <collectionReference>oldcaselist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>store_case_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Task_for_Case_Parent_Account</name>
        <label>Insert Task for Case Parent Account</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Send_Email_to_Accounts_owner</targetReference>
        </connector>
        <inputReference>InsertTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_the_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_AccountId</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SendemailtoOwnerbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi The Case is Deleted :&lt;span style=&quot;color: rgb(218, 24, 24);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(218, 24, 24);&quot;&gt;{!$Record.CaseNumber}&lt;/strong&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Parent Account is  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(179, 14, 14);&quot;&gt;{!$Record.Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank You&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(17, 38, 195);&quot;&gt;Tharun Panguluru&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountsOwnerEmai</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>InstanceTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>oldcaselist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
