force-app/main/default/flows/Flow_Trigger_63.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>post_a_chatter_message_to_Account</name>
        <label>post a chatter message to Account</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>bodypost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>opporecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_oppids</name>
        <label>assigne oppids</label>
        <locationX>666</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>opporecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_opps.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opporecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_opps.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opporecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_opps.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opporecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_opps.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>1282</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>deletetaks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_thorugh_tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thorugh_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_the_tasks</name>
        <label>update the tasks</label>
        <locationX>402</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>instancetask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_tasks01.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>instancetask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opporecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionoftask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>instancetask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_tasks01</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>null_check_for_the_account</name>
        <label>null check for the account</label>
        <locationX>1172</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAccount_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_task_realted_to_deleting_oppo</targetReference>
            </connector>
            <label>isAccount present</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_task_get</name>
        <label>null check on task get</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Task_have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_task_realted_to_deleting_oppo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_tasks01</targetReference>
            </connector>
            <label>is Task have</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_get_opp</name>
        <label>null check on the get opp</label>
        <locationX>886</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>loop_thorugh_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get opp is null</defaultConnectorLabel>
        <rules>
            <name>have_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_All_opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_opps</targetReference>
            </connector>
            <label>have opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_list</name>
        <label>null check on the list</label>
        <locationX>314</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_check_on_the_updated_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionoftask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updated_realted_tasks</targetReference>
            </connector>
            <label>null check on the updated tasks</label>
        </rules>
    </decisions>
    <description>When an Opportunity record is deleted, all related tasks should be reassigned to another opportunity under the same account if one exists. If no other opportunities exist under the same account, delete those related tasks as well.</description>
    <environments>Default</environments>
    <interviewLabel>Flow Trigger 63 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Trigger 63</label>
    <loops>
        <name>loop_thorugh_tasks</name>
        <label>loop thorugh tasks</label>
        <locationX>1194</locationX>
        <locationY>719</locationY>
        <collectionReference>get_all_task_realted_to_deleting_oppo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>delete_the_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_opps</name>
        <label>loop through opps</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <collectionReference>get_All_opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_oppids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_on_task_get</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_tasks01</name>
        <label>loop through tasks 01</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <collectionReference>get_all_task_realted_to_deleting_oppo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_the_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_on_the_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_the_tasks</name>
        <label>delete the tasks</label>
        <locationX>1194</locationX>
        <locationY>1019</locationY>
        <inputReference>deletetaks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_All_opp</name>
        <label>get All opp</label>
        <locationX>886</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_the_get_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_task_realted_to_deleting_oppo</name>
        <label>get all task realted to deleting oppo</label>
        <locationX>886</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_All_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updated_realted_tasks</name>
        <label>updated realted tasks</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>post_a_chatter_message_to_Account</targetReference>
        </connector>
        <inputReference>collectionoftask</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null_check_for_the_account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>bodypost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @{!opporecord.OwnerId}
The Related task has been moved from {!$Record.Name} to {!opporecord.Name}
Parent Account: {!accid}
Thanks
Tharun Panguluru
Salesforce Flow Developer</text>
    </textTemplates>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionoftask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>deletetaks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>instancetask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>oppids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opporecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
