force-app/main/default/flows/Flow_Trigger_60.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>append_with_provies</name>
        <label>append with provies</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_History__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>historyentrycal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_the_created</name>
        <label>ass the created</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>lastchangedatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timespent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_last_stage_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignstagehistory</name>
        <label>assignstagehistory</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>historyentrycal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>last_change_Date</name>
        <label>last change Date</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>lastchangedatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Stage_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timespent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_last_stage_is_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_the_old_and_new_stage</name>
        <label>Check for the old and new stage</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_vs_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_last_change_is_null</targetReference>
            </connector>
            <label>new vs old</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_last_stage_is_null</name>
        <label>check if last stage is null</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>append_with_provies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>created_assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_History__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignstagehistory</targetReference>
            </connector>
            <label>created assign</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_last_change_is_null</name>
        <label>if last change is null</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>last_change_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Stage_Change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_the_created</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <description>To Calculate how much time a paricular order has spent on a particular stage through out the order journey</description>
    <environments>Default</environments>
    <formulas>
        <name>cal</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} -{!lastchangedatetime})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>historyentrycal</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})+&apos;:  Stage Changed from&apos; +TEXT({!$Record__Prior.Stage__c})+&apos;   New stage&apos;+TEXT({!$Record.Stage__c})+&apos;Time in previous stage    &apos;+TEXT({!timespent})</expression>
    </formulas>
    <formulas>
        <name>returnvalue</name>
        <dataType>Number</dataType>
        <expression>ABS(({!$Flow.CurrentDateTime}-{!lastchangedatetime})/60000)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Flow Trigger 60 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Trigger 60</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_the_old_and_new_stage</targetReference>
        </connector>
        <object>order_custom__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>lastchangedatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timespent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
