force-app/main/default/flows/flow_Trigger_58.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_the_account_phone</name>
        <label>assigne the account phone</label>
        <locationX>699</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>instanceaccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_accounts_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>instanceaccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>instanceaccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_accounts_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collect_the_accountids</name>
        <label>collect the accountids</label>
        <locationX>1114</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>accountidsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_we_have_the_account_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_the_all_contacts_phone</name>
        <label>update the all contacts phone</label>
        <locationX>270</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>loop_through_contacts.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactsupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_we_have_the_account_id</name>
        <label>check if we have the account id</label>
        <locationX>1114</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_accountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountidsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_account</targetReference>
            </connector>
            <label>is accountId</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_Account_is_have</name>
        <label>If the Account is have</label>
        <locationX>611</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null_check_updateaccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>is null check updateaccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_phone_is_changed</name>
        <label>is Contact phone is changed</label>
        <locationX>1374</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_contact_phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collect_the_accountids</targetReference>
            </connector>
            <label>is contact phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_get_accounts</name>
        <label>is get accounts</label>
        <locationX>858</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_check_on_the_get_accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_accounts_loop</targetReference>
            </connector>
            <label>null check on the get accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_have_contacts</name>
        <label>is have contacts</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_contacts</targetReference>
            </connector>
            <label>is contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>iscontacts</name>
        <label>iscontacts</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactsupdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iscontactsupdate</targetReference>
            </connector>
            <label>is null check</label>
        </rules>
    </decisions>
    <description>Write a flow that updates the parent Account Phone and all realted contact&apos;s phone wheneer the contact phone filed is  updated</description>
    <environments>Default</environments>
    <interviewLabel>flow Trigger 58 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow Trigger 58</label>
    <loops>
        <name>get_accounts_loop</name>
        <label>get accounts loop</label>
        <locationX>611</locationX>
        <locationY>863</locationY>
        <collectionReference>get_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_the_account_phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_the_Account_is_have</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_contacts</name>
        <label>loop through contacts</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <collectionReference>get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_the_all_contacts_phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>iscontacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>858</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_get_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountidsset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_contacts</name>
        <label>get all contacts</label>
        <locationX>380</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_have_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountidsset</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>iscontactsupdate</name>
        <label>iscontactsupdate</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <inputReference>contactsupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>380</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>get_all_contacts</targetReference>
        </connector>
        <inputReference>updateAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>1248</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Contact_phone_is_changed</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountidsset</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactsupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>instanceaccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
