force-app/main/default/flows/flow_trigger_56.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_the_value_to_var</name>
        <label>assigne the value to var</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>numberinc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_var_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_update_the_parnet_desc</name>
        <label>Copy 1 of update the parnet desc</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Secondhighestamount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thorugh_collection_sort_of_oppo.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thorugh_collection_sort_of_oppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_the_parnet_desc</name>
        <label>update the parnet desc</label>
        <locationX>534</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Secondhighestamount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thorugh_collection_sort_of_oppo.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thorugh_collection_sort_of_oppo</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>second_highest_value</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>second highest value</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_oppos_realted_same_account</collectionReference>
        <connector>
            <targetReference>check_for_the_opportunihts</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_for_the_opportunihts</name>
        <label>check for the opportunihts</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_check_on_get_oppos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_oppos_realted_same_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_thorugh_collection_sort_of_oppo</targetReference>
            </connector>
            <label>null check on get oppos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_var_value</name>
        <label>Check for var value</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>update_the_parnet_desc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberinc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_the_parnet_desc</targetReference>
            </connector>
            <label>if 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_accountId</name>
        <label>Check the accountId</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_accountid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_oppos_realted_same_account</targetReference>
            </connector>
            <label>is accountid</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_account</name>
        <label>null check on the account</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_account_records</targetReference>
            </connector>
            <label>is account</label>
        </rules>
    </decisions>
    <description>Write a Flow to update the parent account&apos;s Description field with the Second hightest amount from realted opportuities</description>
    <environments>Default</environments>
    <interviewLabel>flow trigger 56 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow trigger 56</label>
    <loops>
        <name>loop_thorugh_collection_sort_of_oppo</name>
        <label>loop thorugh collection sort of oppo</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>get_all_oppos_realted_same_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_the_value_to_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_on_the_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_oppos_realted_same_account</name>
        <label>get all oppos realted same account</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>second_highest_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_account_records</name>
        <label>update the account records</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Secondhighestamount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_accountId</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountupdatecollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>highestamount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberinc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Secondhighestamount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
