force-app/main/default/flows/flow_Trigger_72.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Custom_Notification_to_Manager_and_Owner_of_Case_Record</name>
        <label>Copy 1 of Send Custom Notification to Manager and Owner of Case Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>owneridandmanagerid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>sample</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_to_Manager_and_Owner_of_Case_Record</name>
        <label>Send Custom Notification to Manager and Owner of Case Record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>owneridandmanagerid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Customtitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_all_the_ids</name>
        <label>Store all the ids</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>owneridandmanagerid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_all_users_present_in_public_group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_userids</name>
        <label>store userids</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>owneridandmanagerid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>owneridandmanagerid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_users.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_custom_notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_the_case_status_and_Priority</name>
        <label>check for the case status and Priority</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>for_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_users</targetReference>
            </connector>
            <label>for User</label>
        </rules>
        <rules>
            <name>for_Public_group_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_users_present_in_public_group</targetReference>
            </connector>
            <label>for Public group users</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Case</name>
        <label>is Case</label>
        <locationX>1205</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Case_Record_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_the_case_status_and_Priority</targetReference>
            </connector>
            <label>is Case Record not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_custom_not</name>
        <label>null check on custom not</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_custom_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Custom_Notification_to_Manager_and_Owner_of_Case_Record</targetReference>
            </connector>
            <label>is custom not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_on_the_custom_not</name>
        <label>Null check on the custom not</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true_custom_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custom_Notification_to_Manager_and_Owner_of_Case_Record</targetReference>
            </connector>
            <label>is true custom not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_on_the_get_public_users</name>
        <label>Null check on the get public users</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_users_present_in_public_group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_all_the_ids</targetReference>
            </connector>
            <label>is true users</label>
        </rules>
    </decisions>
    <description>Delivery Custom Notifications</description>
    <environments>Default</environments>
    <interviewLabel>flow Trigger 72 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow Trigger 72</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_users_present_in_public_group</name>
        <label>get all users present in public group</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_on_the_get_public_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tharun</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1205</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification</name>
        <label>Get custom notification</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_on_the_custom_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_New_Custom_Notification_to_Manager_and_Queue_Members</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification1</name>
        <label>Get custom notification 1</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_custom_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_New_Custom_Notification_to_Manager_and_Queue_Members</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_users</name>
        <label>get users</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>store_userids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi there is New Custom Notification for the Case Status{!Get_Case_Record.Status} and Case priority:{!Get_Case_Record.Priority}</text>
    </textTemplates>
    <textTemplates>
        <name>Customtitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!get_users.Manager.FirstName}</text>
    </textTemplates>
    <textTemplates>
        <name>sample</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Custom Alert</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>owneridandmanagerid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
