force-app/main/default/flows/Flow_trigger_34.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>store_the_owner_id</name>
        <label>store the owner id</label>
        <locationX>1282</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Storeownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_Trigger_72_Flow_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updare_the_related_task_status</name>
        <label>updare the related task status</label>
        <locationX>424</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>instancetask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thorugh_the_tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>instancetask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatetasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>instancetask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thorugh_the_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_the_account_desc</name>
        <label>update the account desc</label>
        <locationX>633</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>instanceaccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accounts_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>instanceaccount.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateaccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>instanceaccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>accounts_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>check</label>
        <locationX>1163</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Count_the_number_of_Recordtypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account</targetReference>
            </connector>
            <label>is status is changed</label>
        </rules>
        <rules>
            <name>Call_sub_on_Case_status_and_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>store_the_owner_id</targetReference>
            </connector>
            <label>Call sub on Case status and priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_the_tasks</name>
        <label>check for the tasks</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Count_the_number_of_Recordtypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_related_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_tasks</targetReference>
            </connector>
            <label>is tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_taks</name>
        <label>is taks</label>
        <locationX>545</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_related_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_related_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_thorugh_the_tasks</targetReference>
            </connector>
            <label>is related tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_udpate_account</name>
        <label>is udpate account</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_account_udpate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateaccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account</targetReference>
            </connector>
            <label>check for account udpate</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_on_the_account</name>
        <label>null check on the account</label>
        <locationX>781</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isaccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>accounts_loop</targetReference>
            </connector>
            <label>isaccount</label>
        </rules>
    </decisions>
    <description>Automatically Update Task Status and Accout description When case status are modified</description>
    <environments>Default</environments>
    <interviewLabel>Flow trigger 34 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow trigger 34</label>
    <loops>
        <name>accounts_loop</name>
        <label>accounts loop</label>
        <locationX>545</locationX>
        <locationY>647</locationY>
        <collectionReference>get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_the_account_desc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_related_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_thorugh_the_tasks</name>
        <label>loop thorugh the tasks</label>
        <locationX>336</locationX>
        <locationY>1163</locationY>
        <collectionReference>get_all_related_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updare_the_related_task_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_udpate_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>781</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_on_the_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_related_tasks</name>
        <label>get all related tasks</label>
        <locationX>545</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_taks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>check_for_the_tasks</targetReference>
        </connector>
        <inputReference>updateaccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_tasks</name>
        <label>update tasks</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Count_the_number_of_Recordtypes</targetReference>
        </connector>
        <inputReference>updatetasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>1037</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Count_the_number_of_Recordtypes</name>
        <label>Count the number of Recordtypes</label>
        <locationX>1163</locationX>
        <locationY>2315</locationY>
        <flowName>Count_ofTechnical_Support_CasesCustomer_Complaint_Cases</flowName>
        <inputAssignments>
            <name>caserecordid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_Trigger_72_Flow_1</name>
        <label>flow Trigger 72 Flow 1</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Count_the_number_of_Recordtypes</targetReference>
        </connector>
        <flowName>flow_Trigger_72</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>Storeownerid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>instanceaccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>instancetask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Storeownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateaccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updatetasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
