force-app/main/default/flows/OpportunityDiscountScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>to_display_error_toast_message</name>
        <label>to display error toast message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:reuseabletoastevent</actionName>
        <actionType>lwcComponent</actionType>
        <connector>
            <targetReference>Bussniess_validation_Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toastTitle</name>
            <value>
                <stringValue>Discount limit exceeded !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastMessage</name>
            <value>
                <stringValue>Failed applying Discount to Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastVariant</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastMode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:reuseabletoastevent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>To_display_Success_message</name>
        <label>To display Success message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:reuseabletoastevent</actionName>
        <actionType>lwcComponent</actionType>
        <connector>
            <targetReference>successfullly</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toastTitle</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastMessage</name>
            <value>
                <stringValue>Opportunity Discount Applied Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastVariant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastMode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:reuseabletoastevent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_the_Discount_percent</name>
        <label>Check the Discount percent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_discount_less_then_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountvalue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity</targetReference>
            </connector>
            <label>is discount less then 20</label>
        </rules>
        <rules>
            <name>ids_discount_more_then_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountvalue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>to_display_error_toast_message</targetReference>
            </connector>
            <label>ids discount more then 20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OpportunityDiscountScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityDiscountScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_opportunity</name>
        <label>update opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_display_Success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>finalamount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Bussniess_validation_Error</name>
        <label>Bussniess validation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 3, 3);&quot;&gt;The discount you entered exceeds the allowed limit&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(254, 3, 3);&quot;&gt;Maximum allowed discount is 20%&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(254, 3, 3);&quot;&gt;Please revise the discount and try again&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errors</name>
        <label>errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faulterrors</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successfullly</name>
        <label>successfullly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(64, 128, 63);&quot;&gt;Discount hasbeen successfully applied&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(64, 128, 63);&quot;&gt;The Opportunity amount is updated as per the entered discount&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Discount_percent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>discountvalue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>finalamount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>opportunityid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
