force-app/main/default/flows/Screen_Flow_Wellness_Journey_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GetJourneyBysType</name>
        <label>GetJourneysByType</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>BalancedLiving.GetJourneysByType</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Select_Journey</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>journeyType</name>
            <value>
                <elementReference>Fitness_Journey_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BalancedLiving.GetJourneysByType</nameSegment>
        <outputParameters>
            <assignToReference>data</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign1</name>
        <label>Assign1</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Metric_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.metricx2dtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Completion_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.goal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Is_Accessible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.accessible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedWellnessJourney.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mental_Health</name>
        <choiceText>Mental Health</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mental</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical_Health</name>
        <choiceText>Physical Health</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision1</name>
        <label>Decision1</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome1_decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign1</targetReference>
            </connector>
            <label>outcome1 decision1</label>
        </rules>
    </decisions>
    <description>Flow used to select between physical or mental health journey options.</description>
    <dynamicChoiceSets>
        <name>Choiceset</name>
        <collectionReference>data</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Wellness Journey Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wellness Journey Selection</label>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Journey</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Wellness Journey record with details of the selected journeys.</description>
        <name>Create_Wellness_Journey</name>
        <label>Create Wellness Journey</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>varSelectedWellnessJourney</inputReference>
    </recordCreates>
    <screens>
        <description>This flow allows you to select which path on your fitness journey you want to currently focus on.</description>
        <name>Journey_Selection</name>
        <label>Journey Selection</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetJourneyBysType</targetReference>
        </connector>
        <fields>
            <name>Fitness_Journey_Type</name>
            <choiceReferences>Physical_Health</choiceReferences>
            <choiceReferences>Mental_Health</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fitness Journey Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>List of journeys from EmployeeFitWell API</description>
        <name>Select_Journey</name>
        <label>Select Journey</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <fields>
            <name>Select_Record</name>
            <choiceReferences>Choiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Details of the selected journey.</description>
        <name>Selected_Journey</name>
        <label>Selected Journey</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Wellness_Journey</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;Name : {!varSelectedWellnessJourney.Name}&lt;/p&gt;&lt;p&gt;Description :{!varSelectedWellnessJourney.Description__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Type :{!varSelectedWellnessJourney.Type__c}&lt;/p&gt;&lt;p&gt;Points :{!varSelectedWellnessJourney.Points__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Completion Goal :{!varSelectedWellnessJourney.Completion_Goal__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Metric Type :{!varSelectedWellnessJourney.Metric_Type__c}&lt;/p&gt;&lt;p&gt;Accessible :{!varSelectedWellnessJourney.Is_Accessible__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success screen after the journey record is created.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Journey_Selection</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Wellness Journey record &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varSelectedWellnessJourney.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; was successfully created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Journey_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>data</name>
        <apexClass>ExternalService__BalancedLiving_Journey</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store details of the selected wellness journey.</description>
        <name>varSelectedWellnessJourney</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wellness_Journey__c</objectType>
    </variables>
</Flow>
