force-app/main/default/flows/update_the_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>event_found_by_invitee_uuid</name>
        <label>Event found by Invitee UUID</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Event not found</defaultConnectorLabel>
        <rules>
            <name>event_id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invitee_no_show_data</targetReference>
            </connector>
            <label>Event found</label>
        </rules>
    </decisions>
    <decisions>
        <name>invitee_no_show_data</name>
        <label>Invitee is no-show?</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>update_event_is_not_no_show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invitee is NOT no-show</defaultConnectorLabel>
        <rules>
            <name>invitee_is_no_show</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee_no_show.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event</targetReference>
            </connector>
            <label>Invitee is no-show</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update the event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update the event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find Event by CalendlyAction__InviteeUuid</description>
        <name>Custom_Lookup</name>
        <label>Find Event by Invitee UUID</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>event_found_by_invitee_uuid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__InviteeUuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>EventRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Mark Event as NoShow</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendly__IsNoShow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Calendly__IsNoShow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_event_is_not_no_show</name>
        <label>Un-mark Event as NoShow</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendly__IsNoShow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Calendly__IsNoShow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <sourceTemplate>Calendly__UpdateEventNoShowTemplate</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invitee_no_show.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invitee_no_show.deleted</stringValue>
            </value>
        </filters>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Custom_Lookup</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the Id of the Event record that matched CalendlyAction by InviteeUuid</description>
        <name>EventRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>is_invitee_no_show</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
